@import "../../assets/styles/mixins";

.admin-dashboard {
  padding: 2rem;

  .charts {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .chart-card {
    @include card;
  }
}
