@import "../../assets/styles/mixins";

.admin-panel {
  @include flex-center;
  padding: 2rem;
}

.admin-card {
  @include card;
  width: 350px;

  button {
    width: 100%;
    margin-top: 1rem;
  }
}
